/* ---- Chat Display ---- */

.chatDisplay {
  padding: 20px;
  height: 60vh;
  width: 100%;
  overflow-y: auto;
  background-color: white;
}



.chatDisplay img {
  border-radius: 50%;
  overflow: hidden;
  margin: 10px;
  width: 50px; /* Set width */
  height: 50px; /* Set height */
}

.chatInput {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chatInput button {
  align-self: center;
  background-color: black;
  color: white;
  height: 50px;
  width: 80px;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;

}




textarea {
  width: 100%;
}