:root {
  --primary: #eff566;
  --primary-content: #535606;
  --primary-light: #f4f896;
  --primary-dark: #eaf236;
}



/* --- Chat Container ----- */


.chatContainer {
    width: 100%;
    text-align: left;
    z-index: 1;
    border-radius: 30px;
  }
  


  
  .match-card .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .chat-container .option {
    border: none;
    background-color: var(--white-color);
    border-bottom: solid 4px var(--red-color);
    font-size: var(--font-size-large);
    margin: 2px;
    padding: 10px;
    border-bottom: solid var(--primary-dark) 10px;
  }
  
  .chat-container .option:disabled {
    border-bottom: solid 4px var(--grey-color);
  }
  
  .chat-container .profile,
  .chat-container h3 {
    display: flex;
    align-items: center;
    padding: 20px;
    color: var(--white-color);
  }

  .chatMatchButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    
  }

  .chatMatchButtons button {
    height: 50px;
    max-width: 300px;
    width: 100%;
    font-size: 30px;
    background-color: var(--primary-light);
    color: black;
    border: none;
    margin: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 30px;
    
  }