
:root {
    --primary: #05a8e7;
    --primary-content: #ecfaff;
    --primary-light: #25bffa;
    --primary-dark: #0484b5;
  }


/* --- Dashboard Page ----- */

.dashboard {
    display: flex;
    flex-direction: column;
    background-color: red;
    justify-content: center;
    align-items: center;
  }
  
.swipeContainer {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: green;
  }

  .cardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    height: 500px;
    width: 500px;
    padding: 20px;
  }


  
  h1 {
    color: #fff;
    text-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
  }
  
  h2 {
    color: #0000;
  }
  
  .swipe {
    position: absolute;
  }
  
  .dashboard .card-container {
    width: 400px;
    max-width: 260px;
    height: 650px;
  }
  
  .card {
    background-color: #fff;
    width: 400px;
    height: 650px;
    height: 300px;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
  }
  
  .card h3 {
    margin-top: 0;
  }
  
  .dashboard .swipe-info {
    position: absolute;
    bottom: 0;
    padding: 10px;
  }
  
  