:root {
    --primary: #05a8e7;
    --primary-content: #ecfaff;
    --primary-light: #25bffa;
    --primary-dark: #0484b5;
  }


/* --- Dashboard Page ----- */

.dashboard {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-content);
    justify-content: center;
    align-items: center;
    justify-content: space-around;
  }
  
.swipeContainer {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
  }

  .cardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500px;
    padding: 20px;
  }


  
  h1 {
    color: #fff;
    text-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
  }
  
  h2 {
    color: #0000;
  }
  
  .swipe {
    position: absolute;
  }
  
  



.card {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 300px;
  width: 600px;
  align-items: center;
  border-radius: 30px;
}

.cardPhoto {
  width: 40%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  border-radius: 30px 0px 30px 0px;
}

.cardName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: white;
  height: 500px;
  color: rgb(0, 0, 0);
  font-size: 30px;
  padding-left: 20px;
  box-sizing: border-box;
  text-align: center;
}
  

  
  .dashboard .swipe-info {
    position: absolute;
    bottom: 0;
    padding: 10px;
  }
  
  