:root {
    --primary: #eff566;
    --primary-content:#565406;
    --primary-light: #f8f596;
    --primary-dark: #f2ed36;
    ;
  }


/* --- Dashboard Page ----- */

.dashboard {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    
  }

  .dashboardLeftSide {
    height: 1000px;
    width: 30%;
    margin: 20px;

    padding: 10px;
    background-color: var(--primary-light);
    border-radius: 30px;
  }

  .dashboardRightSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 20px;
    height: 800px;
    border: solid 10px purple;
  }
  
.swipeContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    
  }

  .cardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 100%;
    padding: 20px;
  }


  
  h1 {
    color: #fff;
    text-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
  }
  
  h2 {
    color: #0000;
  }
  
  .swipe {
    position: absolute;
  }
  
  



.card {
  display: flex;
  flex-direction: row; /* Default layout */
  position: relative;
  height: 400px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  align-items: center;


  max-width: calc(100% - 240px); /* Example max-width, adjust as needed */
  min-width: 700px; /* Minimum width before it starts to shrink */
}

@media (max-width: 1070px) {
  .card {
    flex-direction: column; /* Switch to column layout */
  }
  .card .cardPhoto {
    width: 50%; /* Ensure children take full width of the card */
    border-radius: 30px 30px 0px 0px; /* Adjust as needed for .cardPhoto at smaller screens */
  }

  .card .cardName {
    width: 50%;
    border-radius: 0px 0px 30px 30px; /* Ensuring it's applied */
    background-color: var(--primary); /* For visual confirmation */
  }
}

.cardPhoto {
  width: 50%; /* Remains the same, but will be wider due to the .card's increased width */
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  border-radius: 30px 0px 0px 30px;
}

.cardName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: var(--primary);
  height: 500px;
  color: rgb(0, 0, 0);
  font-size: 30px;
  padding-left: 20px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 0px 30px 30px 0px;
  width: 50%; /* Adjusted to ensure it fills the space appropriately, consider adjusting based on design needs */
}
  

  
  .dashboard .swipe-info {
    position: absolute;
    bottom: 0;
    padding: 10px;
  }
  
  