.matchesDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    gap: 20px; /* Adjust this value as needed to create space between matches */
    width: auto;
    height: auto;
    overflow-y: auto;
    background-color: white;
    border-radius: 30px;
  }

.matchesDisplay::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
}

.matchesDisplay::-webkit-scrollbar-track {
  background: var(--primary); /* Track color */
}

.matchesDisplay::-webkit-scrollbar-thumb {
  background: var(--primary-dark);
  margin: 1px;
  border-radius: 10px; /* Handle color */
}

.matchesDisplay::-webkit-scrollbar-thumb:hover {
  background: var(--primary-dark); /* Handle color on hover */
}

 .matchesDisplay img {
    width: 40px;
    height: 40px;
    border-radius: 50%;

  }

  .imgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .imgContainer h3 {
    text-align: center;
  }