.matchesDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    gap: 20px; /* Adjust this value as needed to create space between matches */
    width: auto;
    height: auto;
    overflow-y: auto;
    background-color: white;
  }

 .matchesDisplay img {
    width: 40px;
    height: 40px;
    border-radius: 50%;

  }

  .imgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }