.hero-sections {
    display: flex;
    flex-direction: column;
    

   
  }
  
  .hero_section_women, .hero_section_man {
    width: 50%; /* Example width, adjust as needed */
    padding: 100px;
    padding-top: 50px;
  }
  
  .hero_section_women {
    margin-top: 30px;
    height: auto;
    background-color: var(--primary);
    color: var(--primary-content);
    width: 45%;
    align-self: flex-start;
  }
  
  .hero_section_man {
    padding: 70px;
    height: auto;
    background-color: var(--primary);
    color: var(--primary-content);
    width: 45%;
    align-self: flex-end;
  }
  
  .hero_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .hero_section .hero_text_main,
  .hero_section .hero_text_title_1,
  .hero_section .hero_text_title_2,
  .hero_section .hero_text_description {
    margin: 0; /* Removes default margins */
  }
  
 
  .hero_text_main {
    font-family: 'Cormorant';
  }
  
  .hero_text_title_1, .hero_text_title_2 {
    color: var(--primary-content);
    font-size: 60px;
    font-family: 'Cormorant';
    margin-bottom: 10px; /* Reduce the bottom margin to bring them closer */
  }
  
  .hero_text_description {
    color: var(--primary-content);
    font-family: 'Marcellus';
    line-height: 3;
    margin-top: 10px; /* Reduce the top margin to bring it closer to the titles */
  }
  
