/* Readex Pro */
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');
/* Krona One */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Readex+Pro:wght@160..700&display=swap');
/* Cormorant */
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Krona+One&family=Readex+Pro:wght@160..700&display=swap');
/*Marcellus */
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');





.hero_quotes {
    display: flex;
    flex-direction: row;
    height: auto;
    background-color: black;
    color: var(--primary-light);
    padding: 80px;
    gap: 50px;
  

    
  }



  .quote_1, .quote_2 {
    font-family: 'Marcellus'; /* Added semicolon */
    font-size: 15px;
  }
  