/* Readex Pro */
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');
/* Krona One */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Readex+Pro:wght@160..700&display=swap');
/* Cormorant */
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Krona+One&family=Readex+Pro:wght@160..700&display=swap');
/*Marcellus */
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');





.hero_quotes {
    display: flex;
    flex-direction: row;
    height: auto;
    background-color: black;
    color: var(--primary-light);
    padding: 80px;
    gap: 10px;
  

    
  }

@media (max-width: 820px) {
  .hero_quotes {
    flex-direction: column;
  }

    /* Animation for the first quote */
    .quote_1 {
        animation: slideDown 0.5s forwards;
    }

    /* Animation for the second quote */
    .quote_2 {
        animation: slideDown 0.5s forwards;
        
    }
}

  .quote_1, .quote_2 {
    font-family: 'Marcellus'; /* Added semicolon */
    font-size: 15px;
  }

/* Keyframes for sliding down animation */
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
  .fadeIn {
  animation: fadeInAnimation 0.5s forwards;
}

@keyframes fadeInAnimation {
  from { opacity: 0; }
  to { opacity: 1; }
}
