/*------ Homepage -----*/

:root {
  --primary: #05a8e7;
  --primary-content: #ecfaff;
  --primary-light: #25bffa;
  --primary-dark: #0484b5;
}

.home {
    overflow-y:auto; 
    margin-top: 10vh;
    margin-bottom: 10vh;
    min-height: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
   
  }

  /* Media query for screens smaller than 820px */
@media (max-width: 820px) {
  .home {
    flex-direction: column; /* Switch to column layout */
  }
}

.primary-button {
  background-color: var(--primary);
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: var(--primary-content);
  font-weight: bold;
  font-size: 15px;

}

  .home_filler_img {
    height: 400px;
    width: 400px;
    background-color: var(--primary);
    margin: 20px;
    border-radius: 10px;
  }
  
  .hero-sections {
    display: flex;
    flex-direction: column;
   
  }
  
  .hero_section_women, .hero_section_man {
    width: 50%; /* Example width, adjust as needed */
    padding: 100px;
    padding-top: 50px;
  }
  
  .hero_section_women {
    margin-top: 30px;
    height: auto;
    background-color: black;
    width: 45%;
    align-self: flex-start;
  }
  
  .hero_section_man {
    padding: 70px;
    height: auto;
    background-color: black;
    width: 45%;
    align-self: flex-end;
  }
  
  .hero_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .hero_section .hero_text_main,
  .hero_section .hero_text_title_1,
  .hero_section .hero_text_title_2,
  .hero_section .hero_text_description {
    margin: 0; /* Removes default margins */
  }
  
  .hero_section .hero_text_main {
    color: white;
  }
  
  .hero_text_main {
    font-family: 'Cormorant';
  }
  
  .hero_text_title_1, .hero_text_title_2 {
    color: white;
    font-size: 50px;
    font-family: 'Cormorant';
    margin-bottom: 10px; /* Reduce the bottom margin to bring them closer */
  }
  
  .hero_text_description {
    color: white;
    font-family: 'Marcellus';
    line-height: 3;
    margin-top: 10px; /* Reduce the top margin to bring it closer to the titles */
  }
  
  .hero_quotes {
    height: auto;
    width: auto;
    background-color: black;
    color: purple;
    height: 300px;
    margin: 30px;
    font-family: 'Marcellus'
    
  }
  
  
  /* ----- Homepage Footer ------ */
  
  
  
  .footer_area {
    color: white;
    background-color: black;
    height: 200px;
  }
  
  
  