/*------ Homepage -----*/

:root {
  --primary: #eff566;
  --primary-content: #535606;
  --primary-light: #f4f896;
  --primary-dark: #eaf236;
}



.home {
    overflow-y:auto; 
    margin: 5vh;
    padding: 5vh;
    min-height: auto;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--primary-light);
    border-radius: 30px;
    box-shadow: 10px 10px 0 0 var(--primary-dark); /* Adjusted shadow here */
    
  }

  /* Media query for screens smaller than 820px */
@media (max-width: 1000px) {
  .home {
    flex-direction: column; /* Switch to column layout */
  }
}

.primaryTitle {
  color: var(--primary-content);
  font-size: 60px;
  margin: 30px;
}

.primary-button {
  background-color: var(--primary-content);
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: transform 0.2s;
  box-shadow: 4px 4px 0 0 var(--primary-dark) /* Smooth transition for transform property */
}

.primary-button:hover, .primary-button:active {
  transform: scale(1.05); /* Slightly increase size on hover and click */

}

.home img {
  width: 450px;
  border-radius: 30px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Add shadow */
  opacity: 0; /* Start with the image being transparent */
  animation: fadeInAnimation ease 2s; /* Apply fade-in animation */
  animation-fill-mode: forwards; /* Make sure the image stays visible after animation */
  transition: transform 0.3s ease; /* Smooth transition for transform property */
}

@media (max-width: 1000px) {
  .home img {
    width: 355px;
  }
}

/* Keyframes for fade-in animation */
@keyframes fadeInAnimation {
  from { opacity: 0; }
  to { opacity: 1; }
}
  
  
  /* ----- Homepage Footer ------ */
  
  
  
  .footer_area {
    color: white;
    background-color: black;
    height: 200px;
  }
  
  
  